{{#each this}}
<div class='photo-card'>
    <a class='gallery__item' href='{{this.largeImageURL}}'>
        <img class='gallery__image' src='{{this.webformatURL}}' alt='{{this.tags}}' loading='lazy' />
    </a>
    <div class='info'>
        <p class='info-item'>
            <b>Likes: {{this.likes}}</b>
        </p>
        <p class='info-item'>
            <b>Views: {{this.views}}</b>
        </p>
        <p class='info-item'>
            <b>Comments: {{this.comments}}</b>
        </p>
        <p class='info-item'>
            <b>Downloads: {{this.downloads}}</b>
        </p>
    </div>
</div>
{{/each}}